<app-navbar></app-navbar>
<br />
<router-outlet></router-outlet>
<app-scroll-top> </app-scroll-top>
<hr />
<footer id="main-footer">
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
    <h1>HERE WE COULD PLACE A FOOTER</h1>
</footer>