p {
    font-family: Lato;
  }
  
  [contenteditable] {
    border: 1px solid black;
    padding: 16px;
    white-space: pre;
    outline: 0;
    line-height: 30px;
  }
  
  [contenteditable]:focus {
    border-color: blue;
  }