<p>
  <a routerLink="/admin">Admnin</a>
  <br />
  <a routerLink="/profile">Profile</a>
  <br />
  <a routerLink="/">Back</a>
</p>
<hr />
<div *ngIf="isLogedin === true">
  <button (click)="logout()">Logout</button>
</div>
<!-- <div *ngIf="!isLoggedIn()">
  <br />
  <a routerLink="/signup">Signup</a>
  <br />
  <a routerLink="/login">Login</a>   
</div> -->
<div >
  <button type="button" (click)="cargarModal()">ABRIR MODAL</button>
  <button  type="button" (click)="cargarModal()">ABRIR MODAL</button>
  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
</div>
<!-- Prueba de content editable mediante directiva -->
<label><input type="checkbox" [(ngModel)]="enabled"> Enabled</label>

<div appContentEditable="true" [(ngModel)]="text" [disabled]="!enabled" #ctrl="ngModel"></div>

Pristine: {{ ctrl.pristine }}<br />
Touched: {{ ctrl.touched }}<br />
Status: {{ ctrl.status }}<br />

<pre [innerHTML]="text"></pre>